In [2]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
import pandas as pd
emp=pd.Series(['Dharshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to Data Frame\n")
print(result)

Series to Data Frame

         Emp  ID
0   Dharshan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [4]:
print("\nExtracting one column:\n")
print(result['Emp'])

Extracting one column:

0     Dharshan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: Emp, dtype: object

In [5]:
print("\nAdding new column:\n")
result['ID']=pd.Series([80,90,28,56,89])
result['Age']=pd.Series([19,90,34,67,20])
print(result)

Adding new column:

         Emp  ID  Age
0   Dharshan  80   19
1     Sudeep  90   90
2       Siva  28   34
3       Yash  56   67
4  Keerthana  89   20

In [6]:
print("\nDeleting new column:\n")
del result['Age']
print(result)

Deleting new column:

         Emp  ID
0   Dharshan  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  89

In [7]:
print("\nExtracting the second row:\n")
print(result.loc[1])

Extracting the second row:

Emp    Sudeep
ID         90
Name: 1, dtype: object

In [8]:
print("Slice rows:\n",result[1:4])

Slice rows:
       Emp  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

In [9]:
d2=pd.DataFrame([['Vicky',100],['Rashid',109]],columns=['Emp','ID'])
print("\nAdding new row values:\n",result.append(d2))

Adding new row values:
          Emp   ID
0   Dharshan   80
1     Sudeep   90
2       Siva   28
3       Yash   56
4  Keerthana   89
0      Vicky  100
1     Rashid  109

C:\Users\Tcs\AppData\Local\Temp\ipykernel_9724\3818850912.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print("\nAdding new row values:\n",result.append(d2))

In [10]:
print("\nDeleting particular row:\n",result.drop(2))

Deleting particular row:
          Emp  ID
0   Dharshan  80
1     Sudeep  90
3       Yash  56
4  Keerthana  89